/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #333333;
}
p {
  font-weight: 300;
  letter-spacing: 1.2px;
  margin: 3px;
}
.titles {
  text-align: center;
  margin-bottom: 20px;
}
/*Navbar*/

#navbar {
  top: 0;
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(5px);
  z-index: 1000; 
}
.btn-pages {
  position: relative;
  overflow: hidden;
}

.btn-pages::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(236, 229, 124); 
  transition: width 0.3s ease-in-out; 
}

.btn-pages:hover::after {
  width: 100%;
}

.btn-pages.active::after {
  width: 100%; 
  transition: none;
}


/*HOME*/

.home-content {
  display: flex;
}

.home-desarrollo,
.home-img {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
  
}
.home-desarrollo-descripcion {
  max-width: 1200px;
  margin: auto;
}
.home-desarrollo-descripcion p:nth-child(1){
  text-align: center;
  margin: 30px auto;

}
.home-img img {
  max-width: 100%;
  height: auto;
}

/*Portada*/
.main-title {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.box2 {
  height: 100vh;
  margin: 10px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(65, 65, 65);
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.underline {
  color: #4697bd;
  font-style: normal;
}
.box2 h1 {
  font-weight: 800;
  font-size: 5.6rem;
  font-style: italic;
}
.title {
    color: #333333;
}
/*.box2 .title {
  color: #cd8170;
}*/
.box2 p{
  font-weight: 350;
  font-size: 1.1rem;
}

.subtitle {
  text-align: left;
}

/*ScrollMagic*/

#reveal1 {
  opacity: 0;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}
#reveal1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

@media (max-width: 990px) {
  .home-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .box2 {
    height: 60vh;
  }
  .box2 h1 {
    font-size: 4.5rem;
  }
  .box2 p {
    font-size: 1rem;
  }
  
}

/*ScrollMagic Cards*/

.box1 {
  font-weight: 300;
}
.box-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;  
}
/* .box-content img {
  margin: auto;
  width: 150px;
  height: auto;
} */
  /* .borde-inferior {
    height: 2px;
    width: 50%;
    margin: auto;
    background-color: #c5c0c0;
  } */
  
.digit {
  height: 420px;
  opacity: 0;
  -webkit-transform: translateX(-40px);
     -moz-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
       -o-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}
.digit.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}


.box1 h1 {
  font-size: 1.2rem;
}

/*//////////////*/
.home-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 968px) {
  .item {
    flex-basis: calc(50% - 5px);
  }
  .box-content {
    box-shadow: none ;
    background-color: white;
  }
}

@media screen and (max-width: 480px) {
  .item {
    flex-basis: calc(100% - 10px);
  }
}

.home-dashboard {
  max-width: 1200px;
  /*margin: auto;
  display: flex;
  justify-content: center;*/
  /* background-color: #cd8170; */
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

.home-dashboard img{
  max-width: 100%;
  height: auto;
}
