/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #333333;
}
body {
  overflow-x: hidden;
}

.subtitle {
  font-weight: 200 !important;
}

 h6 {
  text-align: left !important;
 }

.titles-container {
  text-align: center;

}
.titles {
  margin-bottom: 20px;
}
.borde-inferior {
  display: inline-block;
  border-bottom: 1px solid lightgray;
}

#navbar {
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); 
  box-shadow: none;
  z-index: 1000; 
}

.logo-container img {
  filter: saturate(0%);
}

.btn-pages {
  font-weight: 700 !important;
  color: lightslategray !important;
}
/* .btn-pages::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: lightgray; 
  transition: width 0.3s ease-in-out; 
}

.btn-pages:hover::after {
  width: 100%;
}

.btn-pages.active::after {
  width: 100%; 
  transition: none;
} */

/*Proyecto*/
.proyecto-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/*HOME*/
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  gap: 10px;
 }
 .home-desarrollo-descripcion {
  max-width: 1200px;
  margin: auto;
}

.box-content h1 {
  padding: 20px;
  margin-top: 10px;
}
.box-content {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 8px 12px 16px -9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 8px 12px 16px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 12px 16px -9px rgba(0,0,0,0.75);
}
.box-content p {
  padding: 20px;
  font-style: italic;
  text-align: left;
}

.home-content {
  display: flex;
  margin: auto;
  max-width: 1200px;
}

.home-desarrollo,
.home-img {
  flex-basis: 50%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.home-img {
  display: flex;
  justify-content: center;
}
.home-img img {
  width: 460px;
  height: auto;
}

.home-img img {
  max-width: 100%;
  height: auto;
}

/*Carousel*/

.carousel-container {
  display: none;
}
.carousel {
  bottom: 50px;
  padding-bottom: 100px;
}
.carousel-inner {
  max-width: 1200px;
  margin: auto;
  top: 50px;
}
.carousel-caption h6 {
  color: #333333;
  text-align: center !important;
}
.carousel-caption span {
  font-weight: 400;
}

.carousel-item img{
  top: 70px;
}
.d-block {
  position: relative;
  margin: auto;
  border-radius: 50%;
  width: 120px !important;
  height: 120px;
}
.carousel-control-next i, .carousel-control-prev i{
  color: #333333;
}
/*Portada*/

.box2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-container {
  color: #333333;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px; 
  margin-top: calc(-100px);
}

.background-container {
  max-width: 540px;
  margin: auto;
  text-align: end;
}

.background-container img {
  width: 60%;
  height: auto;
}

.title-container {
  max-width: 620px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.title-container p {
  font-style: italic;
}
.box2 h1 {
  font-weight: 600;
  font-size: 5rem;
}

.redes-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 20px;
}

.redes-container img {
  width: 45px;
  height: auto;
}

.social-links {
  text-align: center;
}

.social-link {
  position: relative;
  display: inline-block;
  margin: 0 10px; /* Espacio entre cada icono */
}

.popup-text {
  visibility: hidden;
  background-color: #333333;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Ancho del pop-up */
}

.social-link:hover .popup-text {
  visibility: visible;
}

/*ScrollMagic Cards*/


.digit {
  /* height: 420px; */
  opacity: 0;
  -webkit-transform: translateX(-40px);
     -moz-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
       -o-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}
.digit.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.box1 h1 {
  font-size: 1.2rem;
}

/*//////////////*/

.home-dashboard {
  max-width: 1200px !important;
  flex-basis: 50%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 40px;
}

.dashboard {
  padding-top: 30px;
  max-width: 1200px ;
  height: 550px;
  margin: auto;
}
.dashboard iframe {
  width: 100%;
  height: 100%;
}

/*Footer*/
.footer-background {
  background-image: url('./assets/wave.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

footer{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}
.footer-container {
  max-width: 1200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
footer img {
  width: 50px;
  /* filter: invert(1); */
}

/*Analisis*/

.container-background {
  max-width: 1200px;
  margin: auto;
}
.container {
  min-height: 810px;
}
.background {
  position: relative;
  width: 100%;
  height: auto; 
  overflow: hidden;
}

.main-content {
  padding-top: 40px;
}
section h6 {
  text-align: center;
  margin: 20px 20px;
}

/**/

.digit1 {
  height: 420px;
  opacity: 0;
  -webkit-transform: translateX(40px);
     -moz-transform: translateX(40px);
      -ms-transform: translateX(40px);
       -o-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}
.digit1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
} 

/*Modelo ML*/

.section {
  padding-bottom: 40px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section ol {
  list-style-type: decimal;
}

.section ol li {
  padding-bottom: 20px;
}

/*Carousel*/

.carousel-indicators {
  color: grey !important;
}

.fa-solid {
  font-size: 1.5rem;
}

/*Media Query*/
@media screen and (max-width: 1030px){
  .main-container {
    margin-top: calc(-50px);
  }
  
  .background-container {
    text-align: center;
  }
  .title-container {
    text-align: center;
  }
}
@media (max-width: 990px) {
  .home-content {
    flex-direction: column;
  }
  .integrantes {
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 900px) {
  #integrantes {
    height: 0 !important;
  }
}
@media screen and (max-width: 640px) {
  .box2 {
    height: 60vh;
  }
  .box2 h1 {
    font-size: 4rem;
  }
  .box2 p {
    font-size: .9rem;
  }
  .box2 {
    margin: auto;
    align-items: center;
    align-content: center;
  }

  .main-title {
    margin-top: -50px;
  }
}

